
<%- include("./partials/header.ejs") %>
<%- include("./partials/sidebar.ejs") %>


<div class="modal fade" id="editbookmodal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #4d4d4d; border-radius: 10px;">
      <div class="modal-header" style="border-bottom: none; background: #212529; border-top-left-radius: 10px; border-top-right-radius: 10px;">
        <h5 class="modal-title" style="font-family: manropesemibold;">Buch bearbeiten</h5>
      </div>

      <div class="modal-body" style="padding-bottom: 0;">
        <form action="/editbook" method="post">
          <div class="bookdisplay">
            <label for="name" class="bookname">Name:</label>
            <input onkeyup="check()" id="inpname" style="border-top-left-radius: 0; border-bottom-left-radius: 0; margin-right:0;" name="name" class="form-control bookdata" value="<%= book.name %>" autocomplete="off"/>
          </div>
          <div class="bookdisplay">
            <label for="author" class="bookname">Autor:</label>
            <input onkeyup="check()" id="inpauthor" style="border-top-left-radius: 0; border-bottom-left-radius: 0; margin-right:0;" name="author" class="form-control bookdata" value="<%= book.author %>" autocomplete="off"/>
          </div>
          <div class="bookdisplay">
            <label for="genre" class="bookname">Genre:</label>
            <input onkeyup="check()" id="inpgenre" style="border-top-left-radius: 0; border-bottom-left-radius: 0; margin-right:0;" name="genre" class="form-control bookdata" value="<%= book.genre %>" autocomplete="off"/>
          </div>
          <div class="bookdisplay">
            <label for="publisher" class="bookname">Verlag:</label>
            <input onkeyup="check()" id="inppublisher" style="border-top-left-radius: 0; border-bottom-left-radius: 0; margin-right:0;" name="publisher" class="form-control bookdata" value="<%= book.publisher %>" autocomplete="off"/>
          </div>
          <div class="bookdisplay">
            <label for="ISBN" class="bookname">ISBN:</label>
            <input onkeyup="check()" id="inpisbn" style="border-top-left-radius: 0; border-bottom-left-radius: 0; margin-right:0;" name="ISBN" class="form-control bookdata" value="<%= book.ISBN %>" autocomplete="off"/>
          </div>
          <div class="bookdisplay">
            <label for="count" class="bookname">Anzahl:</label>
            <input onkeyup="checkCount()" id="inpcount" style="border-top-left-radius: 0; border-bottom-left-radius: 0; margin-right:0;" type="text" name="count" class="form-control bookdata" value="<%= book.count %>" autocomplete="off"/>
          </div>
          <h5 id="usrdialogue" style="font-family: manrope; color: red; text-align: center; font-size: 1.05rem; margin-bottom: 20px;"></h5>
          <input class="bookidinvis" name="bookid" type="text" value="<%= book.id %>">
          <input class="bookidinvis" name="bookavailable" type="text" value="<%= book.available %>">
          <input class="bookidinvis" name="bookcount" type="text" value="<%= book.count %>">
      </div>

      <div class="modal-footer" style="border-top: none; padding-top: 0;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
        <button type="button" class="confirmbutton-changepw" data-bs-dismiss="modal" style="font-family: manropelight;">Abbrechen</button>
        <button type="submit" class="confirmbutton-changepw disabled" id="savebtn" style="font-family: manropelight; background: #53b581;">Speichern</button>
      </form>
      </div>

    </div>
  </div>
</div>

<div class="container shadow-dreamy standardcontainer" id="container">
  <div class="row bookstuff" style="margin-left: 0; width: 100%;">
    <div class="col-xl-5" style="padding-right: 0; padding-left: 0;">
      <div class="cover">
          <% if(book.available == book.count && book.available > 0) { %>
          <img class="coverimg" src="/resources/bookimg/<%= book.cover %>.png" alt="book cover">
          <% } else { %>
          <img class="coverimg unavailable" src="/resources/bookimg/<%= book.cover %>.png" alt="book cover">
          <% } %>
      </div>
    </div>
    <div class="col-sm-7" style="padding-right: 0; padding-left: 0;">
      <div class="details">
        <div class="editavatar">
          <input type="button" id="editbtn" name="changeusrimg" style="display: none;" data-bs-toggle="modal" data-bs-target="#editbookmodal">
          <label for="editbtn"><div><svg style="width:100%;padding:4px;" fill="none" stroke="black" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg></div></label>
        </div>
        <h1 class="bookdetailsheader"><%= book.name %></h1>
        <% if(success) { %>
          <div style="margin-bottom: 20px; text-align: center; font-family: manrope; color: #53b581;"><%= success %></div>
        <% } if(error) { %>
          <div style="margin-bottom: 20px; text-align: center; font-family: manrope; color: red;"><%= error %></div>
        <% } %>
          <div class="bookdisplay">
            <label for="author" class="bookname">Autor:</label>
            <input style="border-top-left-radius: 0; border-bottom-left-radius: 0;" name="author" class="form-control bookdata" value="<%= book.author %>" readonly autocomplete="off"/>
          </div>
          <div class="bookdisplay">
            <label for="genre" class="bookname">Genre:</label>
            <input style="border-top-left-radius: 0; border-bottom-left-radius: 0;" name="genre" class="form-control bookdata" value="<%= book.genre %>" readonly autocomplete="off"/>
          </div>
          <div class="bookdisplay">
            <label for="publisher" class="bookname">Verlag:</label>
            <input style="border-top-left-radius: 0; border-bottom-left-radius: 0;" name="publisher" class="form-control bookdata" value="<%= book.publisher %>" readonly autocomplete="off"/>
          </div>
          <div class="bookdisplay">
            <label for="isbn" class="bookname">ISBN:</label>
            <% if(book.ISBN) { %>
            <input style="border-top-left-radius: 0; border-bottom-left-radius: 0;" name="isbn" class="form-control bookdata" value="<%= book.ISBN %>" readonly autocomplete="off"/>
            <% } else {%>
            <input style="border-top-left-radius: 0; border-bottom-left-radius: 0;" name="isbn" class="form-control bookdata" value="N/A" readonly autocomplete="off"/>
            <% }%>
          </div>
          <div class="bookdisplay">
            <label for="count" class="bookname">Anzahl:</label>
            <% if (book.available !== book.count) {%>
            <input style="border-top-left-radius: 0; border-bottom-left-radius: 0;" name="count" class="form-control bookdata" value="<%= book.count %> (<%= book.available %> verfügbar)" readonly autocomplete="off"/>
            <% } else { %>
            <input style="border-top-left-radius: 0; border-bottom-left-radius: 0;" name="count" class="form-control bookdata" value="<%= book.count %>" readonly autocomplete="off"/>
            <% } %>
          </div>
          <input id="savebutton" type="submit" class="confirmbutton disabled" value="Speichern" style="display: none;">
      </div>
    </div>
  </div>
  <div class="row" style="margin-left: 0; width: 100%;margin-top: 50px;">
    <div class="bookactionform" id="bookform">
      <form action="/book/submit" method="POST">
        <% if(book.available === 0) { %>
          <div class="row" style="margin-left: 15px;margin-right: 15px">
            <div class="col-md-3" style="padding-right: 0; padding-left: 0;">
              <input name="name" class="baform-n disabled" type="text" placeholder="Name" required autocomplete="off">
            </div>
            <div class="col-md-3" style="padding-right: 0; padding-left: 0;">
              <input name="class" class="baform disabled" type="text" placeholder="Klasse" required autocomplete="off">
            </div>
            <div class="col-md-3" style="padding-right: 0; padding-left: 0;">
              <input name="date" class="baform disabled" type="text" placeholder="Datum" value="<%= date %>" required autocomplete="off">
            </div>
            <div class="col-md-3" style="padding-right: 0; padding-left: 0;">
              <input class="baform-s disabled" type="submit" value="Verleihen" autocomplete="off">
            </div>
          </div>
        <% } else { %>
          <div class="row" style="margin-left: 15px;margin-right: 15px">
            <div class="col-md-3" style="padding-right: 0; padding-left: 0;">
              <input name="name" class="baform-n" type="text" placeholder="Name" required autocomplete="off">
            </div>
            <div class="col-md-3" style="padding-right: 0; padding-left: 0;">
              <input name="class" class="baform" type="text" placeholder="Klasse" required autocomplete="off">
            </div>
            <div class="col-md-3" style="padding-right: 0; padding-left: 0;">
              <input name="date" class="baform" type="text" placeholder="Datum" value="<%= date %>" required autocomplete="off">
            </div>
            <div class="col-md-3" style="padding-right: 0; padding-left: 0;">
              <input class="baform-s" type="submit" value="Verleihen">
            </div>
          </div>
        <% } %>
        <input type="text" style="display:none;" value="<%=book.name%>" name="bookname">
        <input class="bookidinvis" name="bookid" type="text" value="<%= book.id %>">
      </form>
    </div> 
  </div>
  <div class="row" style="margin-left: 0; margin-right: 0;">
    <div class="col-md-12" style="padding-left: 0; padding-right: 0;">
      <% if(bhistory.length) { %>
        <h3 class="historyh1" style="margin-bottom: 0; margin-top:50px; width: 100%; background-color:#4d4d4d;border-radius: 10px;padding-bottom: 40px;padding-top: 20px;">Das Buch wurde bisher an folgende Personen verliehen:</h3>
        <table id="bookstufftable" style="margin-top: -20px;">
          <tr class="bookstufftr">
            <td class="bookstuffusers -l">Name</td>
            <td class="bookstuffusers -c">Klasse</td>
            <td class="bookstuffusers -r">Zeitraum</td>
          </tr>
          <% for(let i=0; i < bhistory.length; i++) { %>
          <tr class="bookstufftr">
            <td class="bookstuffusersdata"><%= bhistory[i].name %></td>
            <td class="bookstuffusersdata-c"><%= bhistory[i].class %></td>
            <td <% if(bhistory[i].expiring_at != "0") { %> class="bookstuffusersdata-date" style="padding-bottom: 25px;"<% } else { %> class="bookstuffusersdata-date-inactive" <% } %>> 
              <%= bhistory[i].date %>
          <% if (bhistory[i].expiring_at != 0) {%>
            <a title="Austragen" class="bookejs-a"
                href="/book/drop/id=<%= bhistory[i].id %>&bid=<%= bhistory[i].bookid %>">
                <svg class="bookejs-i" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
            </a>
          <% }  %> 
            </td>
          </tr>
          <% } %>
        </table>
      <% } else { %>
        <h3 style="margin-bottom: 0; margin-top:50px; width: 100%; background-color:#4d4d4d;border-radius: 10px;padding-bottom: 20px;padding-top: 20px;" class="historyh1">Das Buch wurde bisher an keine Personen verliehen.</h3>
      <% } %>
    </div>
  </div>
</div>

<script>
  var name = "<%= book.name %>";
  var author = "<%= book.author %>";
  var genre = "<%= book.genre %>";
  var publisher = "<%= book.publisher %>";
  var isbn = "<%= book.ISBN %>";
  var count = "<%= book.count %>";

  function checkCount() {
    count = document.getElementById('inpcount').value;
    if(count && count.match(/^[1-9]+$/) == null) { //check if entered value holds digits 0-9
      document.getElementById('usrdialogue').innerHTML = "Anzahl muss eine gültige Zahl sein."
      document.getElementById('savebtn').classList.add('disabled')
    } else if (!count) {
      document.getElementById('savebtn').classList.add('disabled')
    } else {
      document.getElementById('savebtn').classList.remove('disabled')
      document.getElementById('usrdialogue').innerHTML = ""
    }
  };

  function check() {
    var inpname = document.getElementById('inpname').value;
    var inpauthor = document.getElementById('inpauthor').value;
    var inpgenre = document.getElementById('inpgenre').value;
    var inppublisher = document.getElementById('inppublisher').value;
    var inpisbn = document.getElementById('inpisbn').value;
    var inpcount = document.getElementById('inpcount').value;
    if(inpname == name && inpauthor == author && inpgenre == genre && inppublisher == publisher && inpisbn == isbn && inpcount == count || !inpname || !inpauthor || !inpgenre || !inppublisher || !inpisbn) {
      document.getElementById('savebtn').classList.add('disabled');
    } else {
      document.getElementById('savebtn').classList.remove('disabled');
    }
  }

</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script> //required for socketio connection
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
