
<%- include("./partials/header.ejs") %>
<%- include("./partials/sidebar.ejs") %>

<div class="modal fade" id="pwmodal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #202225; border-radius: 10px;">
      <div class="modal-header" style="border-bottom: none; background: #1a1b1e; border-top-left-radius: 10px; border-top-right-radius: 10px;">
        <h5 class="modal-title" style="font-family: manropesemibold;">Passwort ändern</h5>
      </div>

      <div class="modal-body" style="padding-bottom: 0;">
        <form id="changepasswordform" action="javascript:void(0);" method="post">
        <div class="bookdisplay" style="display: grid;">
          <span style="color:white; font-family: manropethin;">Aktuelles Passwort</span>
          <input onkeyup="checkpw()" id="pwc" type="password" name="currentpw" class="form-control bookdata-resetpw" style="margin-right: auto; border-radius:5px; border-top-left-radius: 5px; border-bottom-left-radius: 5px !important;" value="" autocomplete="off"/>
          <span style="color:white; font-family: manropethin;">Neues Passwort</span>
          <input onkeyup="checkpw()" id="pwn" type="password" name="newpw" class="form-control bookdata-resetpw" style="margin-right: auto; border-radius:5px; border-top-left-radius: 5px; border-bottom-left-radius: 5px !important;" value="" autocomplete="off"/>
          <span style="color:white; font-family: manropethin;">Neues Passwort bestätigen</span>
          <input onkeyup="checkpw()" id="pwr" type="password" name="repeatpw" class="form-control bookdata-resetpw" style="margin-right: auto; border-radius:5px; border-top-left-radius: 5px; border-bottom-left-radius: 5px !important;" value="" autocomplete="off"/>
          <span id="userfeedback" style="color:red; font-family: manropethin;"></span>
        </div>
      </div>

      <div class="modal-footer" style="border-top: none; padding-top: 0;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
        <button type="button" class="confirmbutton-changepw" data-bs-dismiss="modal" style="font-family: manropelight;">Abbrechen</button>
        <button type="submit" class="confirmbutton-changepw disabled" id="pwsavebtn" style="font-family: manropelight; background: #53b581;">Speichern</button>
      </form>
      </div>

    </div>
  </div>
</div>

<div class="container shadow-dreamy standardcontainer" id="container">

  <div class="row justify-content-center" style="margin-top: 40px; margin-bottom: 40px;">
    <div class="avatar" style="width: auto;">
      <form id="imgsubmit"action="/upload" method="post" enctype="multipart/form-data">
        <div class="editavatar">
          <input onchange="document.getElementById('imgsubmit').submit()" type="file" id="fileinput" name="changeusrimg" accept=".png, .jpg, .jpeg" style="display: none;">
          <label id="label" for="fileinput">
            <div>
              <svg style="width:100%;padding:4px;" fill="none" stroke="black" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
              </svg>
            </div>
          </label>
        </div>
      </form>
      <div class="userimgdiv shadow-dreamy">
        <img src="/resources/userimg/<%= user.userimg %>.png" alt="Profilbild" loading=lazy>
      </div>
    </div>
  </div>
  <div class="row">
    <% if(error.length) { %>
    <h5 id="statusmessage" style="color: red; text-align: center; font-family: manrope; font-size: 1.05rem;"><%= error %></h5>
    <% } else if(success.length) { %>
    <h5 id="statusmessage" style="color: #53b581; text-align: center; font-family: manrope; font-size: 1.05rem;"><%= success %></h5>
    <% } %>
    <h5 id="usrdialogue" style="color: red; text-align: center; font-family: manrope; font-size: 1.05rem;"></h5>
    <div style="display: grid;" class="col-md justify-content-center">
      <form action="javascript:void(0);" method="post" id="personaldataform">
        <div class="bookdisplay">
          <label for="firstname" class="bookname" style="background-color:#4d4d4d; width: 150px">Vorname:</label>
          <input onkeyup="checkname()" id="firstname" name="firstname" class="form-control bookdata" style="margin-right: auto; font-family: manropelight; border-top-left-radius: 0; border-bottom-left-radius: 0;" value="<%= user.firstname %>" autocomplete="off"/>
        </div>
        <div class="bookdisplay">
          <label for="lastname" class="bookname" style="background-color:#4d4d4d; width: 150px">Nachname:</label>
          <input onkeyup="checkname()" id="lastname" name="lastname" class="form-control bookdata" style="margin-right: auto; font-family: manropelight; border-top-left-radius: 0; border-bottom-left-radius: 0;" value="<%= user.lastname %>" autocomplete="off"/>
        </div>
        <div class="bookdisplay" style="margin-bottom: 0;">
          <label for="username" class="bookname" style="background-color:#4d4d4d; width: 150px">Benutzername:</label>
          <input id="username" name="username" class="form-control bookdata" style="margin-right: auto; font-family: manropelight; border-top-left-radius: 0; border-bottom-left-radius: 0;" value="<%= user.username %>" readonly autocomplete="off"/>
        </div>
        <div style="color:rgb(158, 158, 158); text-align: center; font-family: manropethin;">Hiermit meldest Du Dich an.</div>
        <button type="button" class="confirmbutton-changepw" data-bs-toggle="modal" data-bs-target="#pwmodal">Passwort ändern</button>
        <input id="savebutton" type="submit" class="confirmbutton disabled" value="Speichern">
      </form>
    </div>
  </div>
</div>

<script>
  var fname = "<%= user.firstname %>".toLowerCase();
  var lname = "<%= user.lastname %>".toLowerCase();
  var btn = document.getElementById("savebutton");
  var userfeedback = document.getElementById("userfeedback");
  var pwsavebtn = document.getElementById("pwsavebtn");
  var form = document.getElementById("personaldataform")
  var passwordform = document.getElementById("changepasswordform")

  function checkpw() {
    var pwn = document.getElementById("pwn").value;
    var pwr = document.getElementById("pwr").value;
    var pw = document.getElementById("pwc").value;
    if (pw.length > 7) {
      userfeedback.innerHTML = ""
      if(pwn) {
        if(pwn.length > 7) {
          userfeedback.innerHTML = ""
          userfeedback.style ="color: #53b581"
          if(pwr) {
            if(pwn == pwr) {
              userfeedback.innerHTML = ""
              pwsavebtn.classList.remove("disabled")
              passwordform.action = "/editpersonaldata"
            } else {
              userfeedback.innerHTML = "Die eingegebenen Passwörter stimmen nicht überein."
              userfeedback.style ="color: red"
              pwsavebtn.classList.add("disabled")
              passwordform.action = "javascript:void(0);"
            }
          }
        } else {
          userfeedback.innerHTML = "Das neue Passwort muss mindestens 8 Zeichen lang sein."
          userfeedback.style ="color: red"
          pwsavebtn.classList.add("disabled")
          passwordform.action = "javascript:void(0);"
        }
      }
    } else {
      userfeedback.innerHTML = "Bitte gib Dein aktuelles Passwort ein."
      userfeedback.style ="color: red"
      passwordform.action = "javascript:void(0);"
    }
  };

  function checkname() {
    try {
      document.getElementById("statusmessage").innerHTML="";
    } catch (error) {
      //status message doesn't exist so we don't care because there's nothing to clear
    }
    var inp_fname = document.getElementById("firstname").value.toLowerCase();
    var inp_lname = document.getElementById("lastname").value.toLowerCase();
    var inp_uname = document.getElementById("username");

    if(inp_fname.length !== 0 && inp_lname.length !== 0) {
      if(inp_fname == fname && inp_lname == lname) {
        document.getElementById('usrdialogue').innerHTML = ""
        btn.classList.add("disabled");
        form.action = "javascript:void(0);"
      } else if (inp_fname !== fname && inp_fname.length !== 0) {
          btn.classList.remove("disabled");
          document.getElementById('usrdialogue').innerHTML = ""
          form.action = "/editpersonaldata"
      } else if (inp_lname !== lname && inp_lname.length !== 0) {
          btn.classList.remove("disabled");
          document.getElementById('usrdialogue').innerHTML = ""
          form.action = "/editpersonaldata"
      } else {
        document.getElementById('usrdialogue').innerHTML = ""
        form.action = "/editpersonaldata"
        btn.classList.remove("disabled");
      }
    } else if (inp_fname.length == 0 || inp_lname.length == 0) {
      document.getElementById('usrdialogue').innerHTML = "Vor- und/oder Nachname darf nicht leer sein."
      btn.classList.add("disabled");
      form.action = "javascript:void(0);"
    }
    inp_uname.value = inp_fname.toLowerCase()+"."+inp_lname.toLowerCase();
  };
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
