<div class="editavatar">
    <input type="button" id="editbtn" name="changeusrimg" style="display: none;" data-bs-toggle="modal" data-bs-target="#editbookmodal">
    <label for="editbtn"><div><svg style="width:100%;padding:4px;" fill="none" stroke="black" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path></svg></div></label>
</div>
<h1 class="bookdetailsheader"><%= book.name %></h1>
<div class="bookdisplay">
  <label for="author" class="bookname">Autor:</label>
  <input style="border-top-left-radius: 0; border-bottom-left-radius: 0;" name="author" class="form-control bookdata" value="<%= book.author %>" readonly autocomplete="off"/>
</div>
<div class="bookdisplay">
  <label for="genre" class="bookname">Genre:</label>
  <input style="border-top-left-radius: 0; border-bottom-left-radius: 0;" name="genre" class="form-control bookdata" value="<%= book.genre %>" readonly autocomplete="off"/>
</div>
<div class="bookdisplay">
  <label for="publisher" class="bookname">Verlag:</label>
  <input style="border-top-left-radius: 0; border-bottom-left-radius: 0;" name="publisher" class="form-control bookdata" value="<%= book.publisher %>" readonly autocomplete="off"/>
</div>
<div class="bookdisplay">
  <label for="isbn" class="bookname">ISBN:</label>
  <% if(book.ISBN) { %>
  <input style="border-top-left-radius: 0; border-bottom-left-radius: 0;" name="isbn" class="form-control bookdata" value="<%= book.ISBN %>" readonly autocomplete="off"/>
  <% } else {%>
  <input style="border-top-left-radius: 0; border-bottom-left-radius: 0;" name="isbn" class="form-control bookdata" value="N/A" readonly autocomplete="off"/>
  <% }%>
</div>
<div class="bookdisplay">
  <label for="count" class="bookname">Anzahl:</label>
  <% if (book.available !== book.count) {%>
  <input style="border-top-left-radius: 0; border-bottom-left-radius: 0;" name="count" class="form-control bookdata" value="<%= book.count %> (<%= book.available %> verfügbar)" readonly autocomplete="off"/>
  <% } else { %>
  <input style="border-top-left-radius: 0; border-bottom-left-radius: 0;" name="count" class="form-control bookdata" value="<%= book.count %>" readonly autocomplete="off"/>
  <% } %>
</div>
<input id="savebutton" type="submit" class="confirmbutton disabled" value="Speichern" style="display: none;">